$primary-text-color: #fff;

.form-container {
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    justify-content: center;
    align-items: center;
}

.todos-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 70vw;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
}

.todos-info {
    color: $primary-text-color;
}

.option-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 2%;
}

.option-container .btn {
    width: 20vw;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}